{{page-title "Weather App – Current location weather"}}
<div class='home-container'>
  <div class='home-subcontainer-1'></div>
  <div class='home-subcontainer-2'>
    <div class='home-weather-container'>
      {{#if this.isLoading}}
        <Loader />
      {{else}}
        <div class='home-weather-wrapper'>
          <div class='home-weather-area-name'>
            <h2>{{@model.name}}</h2>
          </div>
          <div class='home-weather-area'>
            <p class='home-area-temp'>{{@model.main.temp}}° <span>C</span></p>
            <div class='home-area-weather-details'>
              <p>Pressure: {{@model.main.pressure}} hPa</p>
              <p>Humidity: {{@model.main.humidity}}%</p>
              <p>Wind: {{@model.wind.speed}} m/s</p>
            </div>
          </div>
          <LinkTo @route="search">
            <button type='button' class='btn'>More weather</button>
          </LinkTo>
        </div>
        <div class='home-weather-desc'>
          <p>{{@model.weather.0.description}}</p>
          <p>{{@model.sys.country}}</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>
